<div class="col border-left border-bottom border-grey">
  <div class="d-flex justify-content-between align-items-center text-sidebar pt-4 pb-3  border-bottom border-grey">
    <h5 class="ml-3">WHO TO FOLLOW</h5> 
    <i class="fas fa-sync-alt pr-4"></i>
  </div>
  <ul class="list-unstyled h5">

    <% not_following_users.each do |user| %>
      <% unless user == @c %>
        <div class="d-flex w-100 text-sidebar pb-3 pt-2">
          <%= picture?(user) %>
          <div class="post-content ml-3 mt-2">
            <li class="d-flex flex-row"> 
              <div class="user-info">
              <%=link_to user.fullname, user_path(user)%><br>
              <small class="text-sidebar">@<%= user.username %></small>
              </div>
              <div class="ml-3">
                <%= (link_to raw('<i id="follow-now" class="fas fa-plus"></i>'), followings_path(:follower_id => @c.id, :followed_id => user.id), :method => :post) %>
              </div>
            </li>
          </div>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>