<div class="bg-white m-3 p-3 border-bottom ">
  <h5 class="text-titles font-weight-bold"> POST SOMETHING </h5>
  <%= form_with(url: create_opinion_path) do |form| %>
    <%= form.text_area :text, class:"w-100 border", placeholder: "Create an Opinion(max: 125 characters) " %> <br/>
  <% end %>
</div>