<div class="overflow-hidden">
  <div class="row">
    <%= render 'layouts/sidebar' %>

    <div class="col">
      <%= render 'layouts/navbar' %>

      <div class="row">
        <div class="col-9 m-0 p-0 ">
          <div>
            
          </div>
          <div class="bg-white mt-5 ml-3 mr-3">
            
          </div>

        </div>

        <div class="col">
          
        </div>
      </div>
    </div>
  </div>
</div>