<div class="overflow-hidden">
  <div class="row">

    <%= render 'layouts/sidebar' %>

    <div class="col">
      <%= render 'layouts/navbar' %>

      <div class="row">
        <div class="col-9 bg-white">
          <h3>This will be profile tweets + photo </h3>
        </div>

        <div class="col">
          <%= render 'profile' %>
        </div>
      </div>
    </div>
  </div>
</div>