/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
 
 @import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");

 * {
   font-family: "Roboto", sans-serif;
 }

.bg-sidebar {
  background-color: #213246;
}

.nav-icons {
  color: #213246;
  opacity: 0.5;
}

.bg-nav {
  background-color: #56abee;
}

.text-sidebar {
  color: #62778a;
}

.hover-info:hover {
  background-color: rgb(23, 162, 184);
  color: white;
}

.home {
  text-decoration: none;
}