.bg-sidebar {
  background-color: #213246;
}

.nav-icons {
  color: #213246;
  opacity: 0.5;
}

.bg-nav {
  background-color: #56abee;
}

.hover-info:hover {
  background-color: rgb(23, 162, 184);
  color: white;
}
