<div class="bg-nav ml-n3 d-flex justify-content-between" style="height: 80px;">
  <div class="d-flex align-items-center">
    <i class="fab fa-twitter fa-2x  ml-3 text-white"></i>  
  </div>

  <div class="nav-icons d-flex align-items-center mr-3">
    <i class="fas fa-pen m-1 mr-3 ml-3"></i>
    <i class="fas fa-envelope m-1 mr-3 ml-3"></i>
    <i class="fas fa-search m-1 mr-3 ml-3"></i>
    <i class="fas fa-cog m-1 mr-3 ml-3"></i>
  </div>
</div>